
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
      <!-- <div [hidden]="submitted"> -->
      <h1>New Quizz</h1>
      <form (ngSubmit)="onSubmit()" #quizzForm="ngForm">

          <div class="row">
              <div class="form-group col-md-9">      
              </div>
              <div class="form-group col-md-3">
                  <button type="submit" class="btn btn-success" (click)="addQuizz()" [disabled]="!quizzForm.form.valid">Save Quizz</button>        
<!--                   <button type="button" class="btn btn-default" (click)="newQuizz(); quizzForm.reset()">New Quizz</button> -->
              </div>
          </div>     

          <div class="row">
              <div class="form-group col-md-4">        
                  <input type="text" class="form-control" id="name"
                  required
                  [(ngModel)]="model.name" name="name"
                  #name="ngModel" placeholder="Quizz Name">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Name is required</div>
              </div>
              <div class="form-group col-md-8">
                    <div class="form-group">
                      
                        <input type="text" class="form-control" id="desc"
                              required
                              [(ngModel)]="model.description" name="desc"
                              #desc="ngModel"
                              placeholder="Quizz Description">
                        <div [hidden]="desc.valid || desc.pristine"
                            class="alert alert-danger">
                          Name is required
                        </div>
                    </div>
              </div>
              
          </div>

          </form>
          <form (ngSubmit)="onSubmit()" #questionForm="ngForm">
          <div class="row">

              <div class="form-group col-md-12">
                  <label for="newQuestion">Question</label>
                
                  <input type="text" class="form-control" id="aNewQuestion"
                          required
                          [(ngModel)]="newQuestion.question" name="aNewQuestion"
                          #aNewQuestion="ngModel" placeholder="Question">
                    <div [hidden]="aNewQuestion.valid || aNewQuestion.pristine"
                        class="alert alert-danger">
                      Question is required
                    </div>
              </div>
              <div class="form-group col-md-10">
                  <label for="response0">Response</label>
                  <input type="text" class="form-control" id="response0"
                          required
                          [(ngModel)]="newQuestion.responses[0].value" name="response0"
                          #response0="ngModel" placeholder="Response 1">
                  <div [hidden]="response0.valid || response0.pristine"
                        class="alert alert-danger">
                      Response is required
                  </div>
              </div>       
              <div class="form-group col-md-2">
                  <label for="inputState">Is Correct</label>
                  <select name="isCorrect0" id="isCorrect0" class="form-control" [(ngModel)]="newQuestion.responses[0].correct">                
                      <option *ngFor="let aCorrectValue of correctValues"
                        [value]="aCorrectValue" >{{aCorrectValue}}</select>
              </div>

              <div class="form-group col-md-10">
                  <input type="text" class="form-control" id="response1"
                          required
                          [(ngModel)]="newQuestion.responses[1].value" name="response1"
                          #response1="ngModel" placeholder="Response 2">
                  <div [hidden]="response1.valid || response1.pristine"
                        class="alert alert-danger">
                      Response is required
                  </div>
                </div>      
                <div class="form-group col-md-2">
                    <select name="isCorrect1" id="isCorrect1" class="form-control" [(ngModel)]="newQuestion.responses[1].correct">                
                      <option *ngFor="let aCorrectValue of correctValues"
                        [value]="aCorrectValue" > 
                        {{aCorrectValue}}
                    </select>
                </div>

                <div class="form-group col-md-10">
                    <input type="text" class="form-control" id="response2"
                            required
                            [(ngModel)]="newQuestion.responses[2].value" name="response2"
                            #response2="ngModel" placeholder="Response 3">
                    <div [hidden]="response2.valid || response2.pristine"
                          class="alert alert-danger">
                        Response is required
                    </div>
                  </div>      
                  <div class="form-group col-md-2">
                      <select name="isCorrect2" id="isCorrect2" class="form-control" [(ngModel)]="newQuestion.responses[2].correct">                
                        <option *ngFor="let aCorrectValue of correctValues"
                          [value]="aCorrectValue" > 
                          {{aCorrectValue}}
                      </select>
                  </div>

                  <div class="form-group col-md-10">
                      <input type="text" class="form-control" id="response3"
                              required
                              [(ngModel)]="newQuestion.responses[3].value" name="response3"
                              #response3="ngModel" placeholder="Response 4">
                      <div [hidden]="response3.valid || response3.pristine"
                            class="alert alert-danger">
                          Response is required
                      </div>
                    </div>      
                    <div class="form-group col-md-2">
                        <select name="isCorrect3" id="isCorrect3" class="form-control" [(ngModel)]="newQuestion.responses[3].correct">                
                          <option *ngFor="let aCorrectValue of correctValues" [value]="aCorrectValue" >{{aCorrectValue}}</option>
                        </select>
                    </div>

              <div class="form-group col-md-3">
                  <button type="submit" 
                  (click)="addQuestion(questionForm);"
                  
                  class="btn btn-primary" [disabled]="!questionForm.form.valid">Add Question</button>  
              </div>
              <div class="form-group col-md-9"></div> 
          </div>

          <div class="form-row">
              <div class="form-group col-md-12">

                <table class="table" >
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Question</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let question of model.questions; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>
                        		<table class="intro" >
                        			<tr>
                        				<td colspan="3">{{question.question}}</td>
                        			</tr>
                        			<tr *ngFor="let response of question.responses; let i = index">
                        				<td width="2%">{{i+1}}</td> 
                        				<td width="5%"><span *ngIf="response.correct ==='true'" [ngClass]="{'glyphicon glyphicon-asterisk': response.correct ==='true'}"></span></td>
                        				<td width="93%">{{response.value}}</td> 
                        				
                        			</tr>
                        		</table>
                        </td>
                        <td>
                        		
                        		<a data-toggle="modal" href="#" (click)="removeQuestion(i);" onclick="return false;"><i class="material-icons">delete</i> </a>
                        			
<!--                           	<button type="button" class="btn btn-default btn-sm" (click)="removeQuestion(i);"> -->
<!-- 					          <i class="material-icons" (click)="removeQuestion(i);">delete</i> -->
<!-- 					        </button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        </form>

       
  <!-- </div> -->


  
  <!-- <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Description</div>
        <div class="col-xs-9  pull-left">{{ model.description }}</div>
      </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div> -->
</div>