<div style="height: 100px;"></div>
<form (ngSubmit)="onSubmit()" #dashboardForm="ngForm">
<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aQuizz of model; let i = index">
      <th scope="row">{{i+1}}    
      <td><a data-toggle="modal" href="#" (click)="open(content, aQuizz);" onclick="return false;">{{aQuizz.name}} </a></td>
      <td>{{aQuizz.description}}</td>
      <td>
      	   <button type="button" class="btn btn-primary btn-sm" (click)="selectQuizz(aQuizz.id);">
	          Edit
	       </button>
      	   <button type="button" class="btn btn-danger btn-sm" (click)="deleteQuizz(aQuizz.id);">
	         <span class="glyphicon glyphicon-remove"></span> Delete Quizz 
	       </button>     
       </td>
    </tr>
  </tbody>
</table>
</form>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalQuizz.name}} - {{modalQuizz.description}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <table class ="intro" >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of modalQuizz.questions; let i = index">
          <th scope="row"></th>
          <td>
        		<table class="table intro" >
        			<tr>                        				
        				<td colspan="3">{{i+1}}) {{question.question}}</td>
        			</tr>
        			<tr *ngFor="let response of question.responses; let i = index">                        				          				
        				<td width="5%">
        				  <i *ngIf="response.correct ==='true'" [ngClass]="{'material-icons': response.correct ==='true'}">correct</i>                        				
        				</td>
        				<td width="2%">{{i+1}}</td>           				
        				<td width="82%">{{response.value}}</td> 
        			</tr>
          	</table>
          </td>                        
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="c('Close click')">Close</button>
  </div>
</ng-template>



